.popup__body{
   width: 430px;
   background-color: white;
   min-height: 330px;
   margin: auto;
   border-radius: 10px;
   color: black;
   position: relative;
   padding: 34px 36px 37px;
   box-sizing: border-box;
}

@media screen and (max-width: 320px) {
   .popup__body{
      width: calc(100% - 19px*2);
      padding: 25px 22px;
      max-height: 322px;
   }
}